.person {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.person-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.person-list {
    display: flex;
}

.person-list-item:not(:last-child) {
    margin-right: var(--typical-margin);

}

.person-list-item {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-person {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}

.person-item-aftertitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.person-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 15px;
}