.content {
    padding-top: 94px;
    padding-bottom: 47px;
}

.content-list {
    display: flex;
}

.content-list-item:not(:last-child) {
    margin-right: var(--typical-margin);
}

.content-list-item {
    max-width: 270px;
}

.content-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.content-list-aftertitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;

}


.content-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color)
}